<app-main-nav></app-main-nav>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Páciens lista</h2>
    </div>
    <div class="panel-body">
      <input class="form-control" type="text" name="name" [(ngModel)]="name" (ngModelChange)="search()" placeholder="Írd be a páciens nevét">
      <table class="table table-striped table-responsive-md">
        <thead>
          <tr>
            <th></th>
            <th>Név</th>
            <th>Felhasználónév</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients | paginate: { id: 'listing_pagination',
          itemsPerPage: 10,
          currentPage: page,
          totalItems: totalRecords }">
            <td>
              <img *ngIf="patient.patient.picture" src="{{preFilePath}}{{patient.username}}/{{patient.patient.picture}}">
              <img *ngIf="!patient.patient.picture" src="https://history.ucr.edu/sites/g/files/rcwecm1916/files/styles/form_preview/public/blank-profile-picture-png.png?itok=MQ-iPuNG">
            </td>
            <td>{{patient.patient.name}}</td>
            <td>{{patient.username}}</td>
            <td>{{patient.patient.email}}</td>
            <td style="display: flex;"><button (click)="getPatientDetails(patient.id)" class="btn btn-info" style="margin-right: 10px">Részletek</button>
            <button (click)="updatePatient(patient.id)" class="btn btn-info" style="margin-right: 10px">Módosítás</button>
            <button (click)="updateToPractitioner(patient.id, patient.username)" class="btn btn-info" style="margin-right: 10px">Orvossá alakítás</button>
            <button (click)="deletePatient(patient.id, patient.username)" class="btn btn-danger">Törlés</button></td>
          </tr>
        </tbody>
      </table>
      <div>
        <pagination-controls  id="listing_pagination" maxSize="5"
        directionLinks="true"
        (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
