<app-main-nav></app-main-nav>
<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>You've already logged in</h2>
</div>

<ng-template #loggedOut>
  <div class="container d-flex justify-content-center">

    <mat-card class="example-card">
      <mat-card-header>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Bejelentkezés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/registration">Regisztráció</a>
          </li>
        </ul>
      </mat-card-header>
      <mat-card-content>
        <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>

          <mat-form-field color="accent" appearance="fill">
            <mat-label>Felhasználónév</mat-label>
            <input name="username" id="username" matInput [(ngModel)]="username" required>
            <mat-hint align="start">Minimum 6 karakter</mat-hint>
          </mat-form-field>

          <mat-form-field color="accent" appearance="fill">
            <mat-label>Jelszó</mat-label>
            <input type="password" name="password" id="password" matInput [(ngModel)]="password" required>
            <mat-hint align="start">Minimum 8 karakter hosszú, tartalmazzon számokat kis és nagybetűket.</mat-hint>
          </mat-form-field>

          <mat-form-field color="accent" appearance="fill">
            <mat-label>Név</mat-label>
            <input name="name" id="name" matInput [(ngModel)]="name" required>
            <mat-hint align="start">Név megadása kötelező</mat-hint>
          </mat-form-field>

          <mat-form-field color="accent" appearance="fill">
            <mat-label>Email</mat-label>
            <input name="email" id="email" matInput [(ngModel)]="email" required>
            <mat-hint align="start">Email cím megadása kötelező</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <label for="dateOfBorn">Születési dátum:</label>
            <input name="dateOfBorn" id="dateOfBorn" matInput [matDatepicker]="myDatePicker"
            [(ngModel)]="dateOfBorn" [min]="minDate" [max]="maxDate" required>
            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #myDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" style="margin-bottom: 0px;">
            <mat-label>Lakcím</mat-label>
            <input name="address" id="address" matInput [(ngModel)]="address">
          </mat-form-field>

          <mat-form-field color="accent" appearance="fill">
            <mat-label>Személyazonosító igazolvány szám</mat-label>
            <input name="idCard" id="idCard" matInput [(ngModel)]="idCard" required>
            <mat-hint align="start">Személyazonosító igazolvány szám megadása kötelező</mat-hint>
          </mat-form-field>

          <mat-form-field color="accent" appearance="fill">
            <mat-label>TAJ kártya szám</mat-label>
            <input name="socSecNum" id="socSecNum" matInput [(ngModel)]="socSecNum" required>
            <mat-hint align="start">TAJ kártya szám megadása kötelező</mat-hint>
          </mat-form-field>

          <mat-card-actions>
            <button color="primary" mat-raised-button [disabled]="!f.valid"><i class="fas fa-sign-in-alt"></i> Regisztráció</button>
          </mat-card-actions>

        </form>
      </mat-card-content>
    </mat-card>
    </div>
</ng-template>
