<mat-toolbar class="mat-elevation-z2">
  <i class="fas fa-plus-square"></i>
  <span>Online Egészségügyi Rendszer</span>
  <div class="spacer"></div>

  <a mat-button routerLink="/"><i class="fas fa-home"></i> Kezdőlap </a>
  <a mat-button *ngIf="isAdmin" routerLink="/doctors"><i class="fas fa-sign-in-alt"></i> Orvosok </a>
  <a mat-raised-button color="primary" *ngIf="!isLogged" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Bejelentkezés </a>
  <a mat-raised-button color="warn" *ngIf="isLogged" (click)="onLogout()" style="cursor: pointer;"><i class="fas fa-door-open"></i> Kijelentkezés </a>

</mat-toolbar>
