.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidelistelements{
  width: 100%;
}

/*-----Custom css-----*/
#title{
  font-size: 14px;
}

.fas.fa-bars{
  font-size: 20px;
}
