<app-main-nav></app-main-nav>
<div class="container">
  <h3>Jelszó módosítása</h3>
  <div style="width: 100%; max-width: 400px">

    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">


      <div class="form-group">
        <label for="password">Új Jelszó</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          minlength="8"
          maxlength="30"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          [(ngModel)]="password"
          #passwordError="ngModel"
        /><div
        class="alert alert-danger"
        *ngIf="passwordError.invalid && passwordError.touched"
        >
          <div *ngIf="passwordError.errors.minlength">
            Minimum {{ passwordError.errors.minlength.requiredLength }} karakter hosszúságú legyen!
          </div>
          <div *ngIf="passwordError.errors.pattern">
            Tartalmazzon számokat kis és nagybetűket.
          </div>
        </div>
        <mat-hint align="start"
          >Minimum 8, maximum 30 karakter hosszú, tartalmazzon számokat kis
          és nagybetűket.</mat-hint
        >
      </div>

      <div class="form-group">
        <label for="password">Jelszó ismétlés</label>
        <input
          type="password"
          class="form-control"
          id="password_repeat"
          pattern="{{ password }}"
          #cpass="ngModel"
          name="password_repeat"
          [(ngModel)]="confirmpassword"
          required
        />
        <span class="text-danger" *ngIf="cpass.errors?.pattern"
          >hibás jelszóismétlés</span
        >
      </div>

      <button color="primary" mat-raised-button>
        <i class="far fa-save"></i> Módosítás
      </button>
    </form>
  </div>
</div>
