mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-card{
  margin-top: 20px;
  width: 500px;
  border: 1px solid rgb(235, 229, 229)
}

mat-card-header{
  font-size: 13px;
  margin-bottom: 20px;
}

mat-card-content{
  font-size: 14px;
}

mat-card-actions{
  margin: auto;
  width: 50%;
  text-align: center;
}

button{
  font-size: 17px;
}

.photo{
  margin: auto;
  width: 100%;
  text-align: center;
}

.photo input, button{
  margin-bottom: 10px;
}

img{
  max-height: 300px;
  max-width: 300px;
  margin-bottom: 10px;
}

mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}
