<app-main-nav></app-main-nav>
<div class="container">
  <h2>Profil adatok</h2>
  <hr/>

  <mat-card class="example-card">
    <mat-card-content>
      <div>
        <label><b>Név: </b></label> {{profileData?.patient?.name}}
      </div>
      <div>
        <label><b>Felhasználónév: </b></label> {{profileData.username}}
      </div>
      <div>
        <label><b>Email: </b></label> {{profileData?.patient?.email}}
      </div>
      <div>
        <label><b>Születési dátum: </b></label> {{profileData?.patient?.dateOfBorn}}
      </div>
      <div>
        <label><b>Lakcím: </b></label> {{profileData?.patient?.address}}
      </div>
      <button (click)="updateProfile()" class="btn btn-info" style="margin-right: 10px">Módosítás</button>
      <button (click)="updatePassword()" class="btn btn-info" style="margin-right: 10px">Jelszó megváltoztatása</button>
    </mat-card-content>
  </mat-card>
</div>
