<app-main-nav></app-main-nav>
<div class="container">
  <h2>Jelszó visszaállítása</h2>
  <h3>Kérlek add meg az email címedet!</h3>

  <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-form-field color="accent">
      <mat-label>Email</mat-label>
      <input
        [(ngModel)]="email"
        name="email"
        id="email"
        matInput
        #emailError="ngModel"
        pattern="[a-z0-9_.+-]+@[a-z0-9-]+\.[a-z0-9-]+"
      />
    </mat-form-field>
    <br>
      <button color="primary" mat-raised-button [disabled]="!f.valid">
        <i class="fas fa-sign-in-alt"></i> Küldés
      </button>
  </form>
</div>
