<h2 mat-dialog-title>{{data.title}}</h2>
<h4 mat-dialog-title>{{data.paragraph}}</h4>

<mat-form-field style="width: 100%; margin: auto;" *ngIf="data.title == 'Ha szeretnéd, írd le a problémádat pár szóban'">
  <input matInput [(ngModel)]="data.instructions">
</mat-form-field>

<mat-dialog-actions style="margin: auto; display: block;">
  <button mat-button mat-dialog-close>Nem</button>
  <button *ngIf="data.instructions" style="float: right;" mat-button [mat-dialog-close]="data.instructions" cdkFocusInitial>Igen</button>
  <button *ngIf="!data.instructions" style="float: right;" mat-button [mat-dialog-close]="true" cdkFocusInitial>Igen</button>
</mat-dialog-actions>
