<app-main-nav></app-main-nav>
<div class="container">
  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mi célból jött létre az oldal?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br><p>Az oldal szakdolgozat készítés céljából jött létre. </p>
      <p>Célja az, hogy az embereknek lehetőségük legyen általános konzultációkra időpontot<br>
      foglalni és különböző szakterületű orvosokkal beszélgetni.<br></p>
      <p>Megkönnyíti a páciensek és az orvosok dolgát azzal, hogy egy modern és egyszerűen kezelhető<br>
      online felületen tudjanak időpontot foglalni, ezzel elkerülve a telefonálást vagy a sorbanállást.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Hogyan lehetek orvos?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br><p>Ha orvos szeretnél lenni, egy telefonos egyeztetést követően lesz lehetőséged erre.</p>
      <p>Tel.:+36-30/123-2101</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Miért nincs feltüntetve a konzultációk ára?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br><p>A konzultációk ára nem mindig határozható meg előre.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ingyenes a foglalás?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br><p>Igen, a foglalás természetesen nem kerül semmibe.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Hova érkezzek?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br><p>Az orvos által megadott munkahelyi címre.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Időpont előtt mennyivel érkezzek?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br><p>Az általad lefoglalt időpont előtt 5-10 perccel célszerű megérkezni.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Hogy történik az időpontfoglalás?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br><p>Egyszerre egy orvoshoz egy időpontot foglalhatsz, <br>
        viszont több orvosnál is lehet foglalásod egyidejűleg</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mit tegyek, ha le kell mondanom a foglalásom?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br><p>Ha le szeretnél mondani egy foglalást, akkor kattints a foglalásodra,<br>
      így egyszerűen vissza tudod mondani.</p>
    </mat-expansion-panel>

  </mat-accordion>
</div>
