<app-main-nav></app-main-nav>
<div class="container">
  <h2>Háziorvos részletek</h2>

  <hr/>
  <div *ngIf="practitioner">
    <div>
      <label><b>Név: </b></label> {{practitioner.patient.name}}
    </div>
    <div>
      <label><b>Felhasználónév: </b></label> {{practitioner.username}}
    </div>
    <div>
      <label><b>Email: </b></label> {{practitioner.patient.email}}
    </div>
    <div>
      <label><b>Lakcím: </b></label> {{practitioner.patient.address}}
    </div>
    <div>
      <label><b>Születési dátum: </b></label> {{practitioner.patient.dateOfBorn}}
    </div>
    <div>
      <label><b>Telefonszám: </b></label> {{practitioner.patient.phoneNumber}}
    </div>
  </div>

  <br>
  <br>
  <button (click)="list()" class="btn btn-primary">Vissza a háziorvos listához</button><br>
</div>
