<app-main-nav></app-main-nav>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Praktícionáló lista</h2>
    </div>
    <div class="panel-body">
      <input class="form-control" type="text" name="name" [(ngModel)]="name" (ngModelChange)="search()" placeholder="Írd be az orvos nevét">
      <table class="table table-striped table-responsive-md">
        <thead>
          <tr>
            <th>Név</th>
            <th>Felhasználónév</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let practitioner of practitioners | paginate: { id: 'listing_pagination',
          itemsPerPage: 10,
          currentPage: page,
          totalItems: totalRecords }">
            <td>{{practitioner.patient.name}}</td>
            <td>{{practitioner.username}}</td>
            <td>{{practitioner.patient.email}}</td>
            <td><button (click)="getPractitionerDetails(practitioner.id)" class="btn btn-info" style="margin-right: 10px">Részletek</button>
            <button (click)="updatePractitioner(practitioner.id)" class="btn btn-info" style="margin-right: 10px">Módosítás</button>
            <button (click)="downgradeToPatient(practitioner.id)" class="btn btn-info" style="margin-right: 10px">Nem orvos</button>
          </tr>
        </tbody>
      </table>
      <div>
        <pagination-controls  id="listing_pagination" maxSize="5"
        directionLinks="true"
        (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
